body{
    margin: 0%;
    background-color:white;
}


.Container{ 
    padding: 30px;
    
}

.header{
    display:flex;
    justify-content: space-between;
    font-size:larger;
    padding-bottom: 150px;
    
}
.header h2{
    color: #EC4067; 
    font-family: 'Nunito', sans-serif;
  
}
.header span{
    color: black;
    font-family: 'Nunito', sans-serif;
}
.header nav{
    margin-top: 0%;
    justify-content: space-between;
  
}
.nav a{
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}

.nav button{
    border-color: #EC4067;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    width: 100px;
    
    margin-left: 25px;
    text-align: center;
    color:white;
    background-color:#EC4067;
    font-family: 'Nunito', sans-serif;

}


.section_1{
    display: flex;
    justify-content:space-around;
    padding-left: 100px;
}
.section_2 h1{
    color: #EC4067;
    font-family: 'Nunito', sans-serif;
}
.section_2 .btn2{
    margin-left: 0px;
    font-size: 16px;
    padding: 10px;
    width: 150px;
    border-radius: 5px;
    border-color: #EC4067;
    text-align: center;
    color:white;
    background-color:#EC4067;
    font-family: 'Nunito', sans-serif;
    box-shadow: 2px 2px #EC4067;
    

}
.section_2 .btn{
    border-color: #EC4067;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    width: 150px;
    box-shadow: 2px 2px #EC4067;
    margin-left: 25px;
    text-align: center;
    color:#EC4067;
    background-color: white;
    font-family: 'Nunito', sans-serif;

       
}
.section_2 p{
   font-size: 20px;
   font-family: 'Nunito', sans-serif;
    
}
.section_2{
    margin-left: 0px;
}
.section_3 img{
    margin-right: 100px;
}

.section_4{
    display: flex;
    padding-left: 100px;
    margin-top: 100px;
}
.section_4 img{
    padding-top: 25px;
}
.stories{
    display: flex;
   
}
.stories span{
    background-color: rgba(128,128,128, 0.3);
    font-family: 'Nunito', sans-serif;
}
.stories_1{
    margin: 3px;
   
}
.stories p{
    margin-left: 10px;
    text-decoration: rgb(128,128,128);
    font-family: 'Nunito', sans-serif;
    
    
}
.stories_2{
    margin:  10px;
}

.content{
    margin: 100px;
    font-size: 20px;
    
    
}
.content h1{
    margin-bottom: px;
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
    
    
}
.content p{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    
    
}
.content .btn{
    font-family: 'Nunito', sans-serif;
    margin-left: 0px;
    font-size: 16px;
    padding: 10px;
    width: 150px;
    border-radius: 5px;
    border-color: #EC4067;
    text-align: center;
    color:white;
    background-color:#EC4067;

}

.section_5{
    display: flex;
    padding-left: 100px;
}
.content_2{
    margin-right: 150px;
}
.content_2 h1{
    font-family: 'Nunito', sans-serif;
}
.content_2 p{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    margin-top: 40px;
}
.content_2 .btn{
    font-family: 'Nunito', sans-serif;
    margin-left: 0px;
    font-size: 16px;
    padding: 10px;
    width: 180px;
    border-radius: 5px;
    border-color: #EC4067;
    text-align: center;
    color:white;
    background-color:#EC4067;
}
.section_6{
    display: flex;
    padding-left: 100px;
    margin-top: 100px;

}
.GradContent{
    margin-top: 25px;
    margin-left: 50px;
    font-size: 20px;

}
.GradContent .btn{
    font-family: 'Nunito', sans-serif;
    margin-left: 0px;
    font-size: 16px;
    padding: 10px;
    width: 150px;
    border-radius: 5px;
    border-color: #EC4067;
    text-align: center;
    color:white;
    background-color:#EC4067;

}
.mentors{
    padding-left: 70px;
    margin-top: 100px;
}

.section_7{
    display: flex; 
    margin-top: 25px; 
   

}
.profile{
    justify-content:space-between;
    padding-left: 100px;
    
}

.procontent h1{ 
    color: #EC4067; 
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    

}
.procontent p{
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    
}
.procontent button{
    font-family: 'Nunito', sans-serif;
    margin-left: 0px;
    margin-top: 5px;
    font-size: 16px;
    padding: 10px ;
    width: 200px;
    border-radius: 10px;
    border-color: #EC4067;
    text-align: center;
    color:white;
    background-color:#EC4067;

}

.project{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    
}
.bikes{
    padding-left: 100px;
}

.proj{
    padding-left: 70px;

}

.project h1{
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 15px;
}
.project h3{
    color: #EC4067;
    font-size: 40px;
    margin-top: 15px;
    font-family: 'Nunito', sans-serif;
}
.project p{
    font-size: 20px;
    text-decoration: rgba(128,128,128,0.1);
    
}
.project button{
    font-family: 'Nunito', sans-serif;
    margin-left: 0px;
    margin-top: 5px;
    font-size: 16px;
    padding: 10px ;
    width: 150px;
    border-radius: 5px;
    border-color: #EC4067;
    text-align: center;
    color:white;
    background-color:#EC4067;
}



.enroll{
    margin-left: 100px;
}
.enroll h1{
    color: #EC4067;
    font-family: 'Nunito', sans-serif;
    
}
.enroll span{
    color: #EC4067;
    font-family: 'Nunito', sans-serif;
}

.enroll button{
    font-family: 'Nunito', sans-serif;
    margin-left: 5px;
    margin-top: 5px;
    font-size: 16px;
    padding: 10px ;
    width: 80px;
    border-radius: 5px;
    border-color: #EC4067;
    text-align: center;
    color:white;
    background-color:#EC4067;
}
.enroll p{
    font-family: 'Nunito', sans-serif;
}
.footer h1{
    text-align: center;
    padding: 30px 15px;
    
   
}
.footer{
    margin-top: 100px;
    background-color: beige;
    height: 100px;
    font-family: 'Nunito', sans-serif;
  

}

.image_2{
    position: relative;
    text-align: center;
    color: white;
    font-family: 'Nunito', sans-serif;
  }
  
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }

  






.gradImage{
    position: relative;
    text-align: center;
    color: white;
    font-family: 'Nunito', sans-serif;
  }
  
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }


.image_3{
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
    position: relative;
    text-align: center;
    color: white;
  }
  
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
